@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap'); 
:root {
  --accent: #00E6BF;
  --bg1: #764B36;
  --bg1-text: #FCFAF8;
  --bg2: #9B4922;
  --bg2-text: #FCFAF8;
  --bg3: #D1774C;
  --bg3-text: #2C1F17;
  --bg4: #D8BAAC;
  --bg4-text: #2C1F17;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: "Domine", serif;
  background-color: var(--bg4);
  color: var(--bg4-text);
}
p, button, input {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.4rem;
  background-color: var(--bg3);
  color: var(--bg3-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  && button {
    padding: 0.4rem;
    font-weight: bold;
    background-color: transparent;
    border: 0.4rem solid #00000000;
    border-bottom: 0.4rem solid #2C1F1700;
    &&:hover {
      border-bottom: 0.4rem solid #2C1F1780;
    }
    &&:focus-visible {
      border: 0.4rem solid #2C1F1780;
      outline: 0.2rem solid #ffffff;
    }
    &&:active {
      border-bottom: 0.4rem solid var(--bg4-text);
    }
  }
}
main {
  margin: auto;
  margin-top: 6.4rem;
  padding: 0.8rem;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}