@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap'); 
:root {
  --accent: #00E6BF;
  --bg1: #764B36;
  --bg1-text: #FCFAF8;
  --bg2: #9B4922;
  --bg2-text: #FCFAF8;
  --bg3: #D1774C;
  --bg3-text: #2C1F17;
  --bg4: #D8BAAC;
  --bg4-text: #2C1F17;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
}
html {
  font-size: 62.5%;
  line-height: 1.6;
  background-color: var(--bg4);
  color: var(--bg4-text);
}
p, button, input, select, textarea, label {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.2rem;
  line-height: 2.4rem;
}
button, select {
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.4rem;
  background-color: var(--bg3);
  color: var(--bg3-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  && button {
    padding: 0.4rem;
    font-weight: bold;
    background-color: transparent;
    border: 0.4rem solid #00000000;
    border-bottom: 0.4rem solid #2C1F1700;
    &&:hover {
      border-bottom: 0.4rem solid #2C1F1780;
    }
    &&:focus-visible {
      border: 0.4rem solid #2C1F1780;
      outline: 0.2rem solid #ffffff;
    }
    &&:active {
      border-bottom: 0.4rem solid var(--bg4-text);
    }
  }
}
main {
  margin: auto;
  margin-top: 6.4rem;
  padding: 0.8rem;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logSection {
  background-color: var(--bg2);
  color: var(--bg2-text);
  padding: 0.8rem 0.8rem 0;
  width: 100%;

  && div:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    padding-bottom: 0.8rem;
    && select {
      background-color: var(--bg1);
      color: var(--bg1-text);
      padding: 0.4rem;
      border: 0.4rem solid transparent;
      &&:hover {
        border: 0.4rem solid #2C1F1780;
      }
      &&:focus-visible {
        border: 0.4rem solid #2C1F1780;
        outline: 0.2rem solid #ffffff;
      }
    }
  }
  && ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;
    && li {
      background-color: var(--bg1);
      color: var(--bg1-text);
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      && div {
        display: grid;
        grid-template-columns: auto 12.2rem;
        && :nth-child(even) {
          text-align: right;
        }
        && p:first-of-type {
          color: var(--accent);
          font-size: 2rem;
          line-height: 2.4rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        && p:nth-of-type(2) {
          font-weight: bold;
        }
        &&:last-of-type {
          grid-template-columns: repeat(2, 1fr);
          gap: 0.8rem;
          margin-top: 0.4rem;
          && button {
            text-align: center;
            border: 0.2rem solid var(--bg4-text);
            background-color: var(--bg2);
            color: var(--bg2-text);
            padding: 0.8rem;
            &&:hover {
              background-color: hsl(19, 64%, 50%);
            }
            &&:focus-visible {
              background-color: hsl(19, 64%, 50%);
              outline: 0.2rem solid #ffffff;
            }
            &&:active {
              background-color: hsl(19, 64%, 30%);
            }
          }
        }
      }
      && p {
        flex-grow: 1;
      }
    }
  }
  && span {
    height: 1.6rem;
    display: block;
    background-color: var(--bg4);
    margin: 0.8rem 1.6rem 0;
  }
}
.formSection {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  padding: 0.8rem;
  && form {
    padding: 0.8rem;
    background-color: var(--bg1);
    color: var(--bg1-text);
    border: 0.4rem solid var(--bg2);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-width: 60rem;
    margin: auto;
    margin-top: 7.2rem;
    && label, && div {
      padding: 0 0 0 0.4rem;
      background-color: var(--bg4);
      color: var(--bg4-text);
      display: flex;
      align-items: center;
      gap: 0.4rem;
      border: 0.2rem solid var(--bg4-text);
      && input, && select, && textarea {
        resize: none;
        padding: 0.8rem 0.4rem;
        flex-grow: 1;
        color: var(--bg4-text);
        background-color: transparent;
        border: transparent;
        outline: none;
        &&:hover {
          background-color: #ffffff44;
        }
        &&:focus {
          background-color: #ffffff80;
        }
      }
    }
    && div {
      padding: 0;
    }
    && textarea {
      height: 7.6rem;
    }
    && button {
      text-align: left;
      border: 0.2rem solid var(--bg4-text);
      background-color: var(--bg2);
      color: var(--bg2-text);
      padding: 0.8rem;
      &&:hover {
        background-color: hsl(19, 64%, 50%);
      }
      &&:focus-visible {
        background-color: hsl(19, 64%, 50%);
        outline: 0.2rem solid #ffffff;
      }
      &&:active {
        background-color: hsl(19, 64%, 30%);
      }
    }
    && div:first-of-type {
      background-color: transparent;
      border: none;
      color: var(--bg1-text);
      display: flex;
      justify-content: space-between;
      && button {
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
      }
    }
  }
}

#chatSection {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.6rem;
  width: 100%;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-content: end;
  pointer-events: none;
  && .buttonWrapper {
    text-align: right;
    && button {
      pointer-events: auto;
      text-align: center;
      border: 0.2rem solid var(--bg4-text);
      background-color: var(--bg2);
      color: var(--bg2-text);
      padding: 0.8rem;
      &&:hover {
        background-color: hsl(19, 64%, 50%);
      }
      &&:focus-visible {
        background-color: hsl(19, 64%, 50%);
        outline: 0.2rem solid #ffffff;
      }
      &&:active {
        background-color: hsl(19, 64%, 30%);
      }
    }
  }
  && div:not(:first-of-type) {
    height: 44rem;
    pointer-events: auto;
    flex-grow: 1;
    background-color: var(--bg1);
    border: 0.8rem solid var(--bg2);
    outline: 0.2rem solid var(--bg4-text);
    padding: 0.8rem;
    display: none;
    flex-direction: column;
    gap: 0.8rem;
    && #chatMessages {
      flex-grow: 1;
      background-color: var(--bg4);
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      overflow: auto;
      gap: 0.8rem;
      && .aiMessage {
        border-bottom: 0.4rem solid var(--bg4-text);
        background-color: #00000010;
        padding: 0.4rem;
        margin-right: 2rem;
      }
      && .userMessage {
        border-bottom: 0.4rem solid var(--bg4-text);
        background-color: #00000010;
        padding: 0.4rem;
        margin-left: 2rem;
        text-align: right;
      }
    }
  }
  && form {
    background-color: var(--bg4);
    color: var(--bg4-text);
    display: flex;
    && input {
      color: var(--bg4-text);
      flex-grow: 1;
      resize: none;
      padding: 0.8rem 0.4rem;
      flex-grow: 1;
      color: var(--bg4-text);
      background-color: transparent;
      border: transparent;
      outline: none;
      &&:hover {
        background-color: #ffffff44;
      }
      &&:focus {
        background-color: #ffffff80;
      }
    }
    && button {
      text-align: center;
      border: 0.2rem solid var(--bg4-text);
      background-color: var(--bg2);
      color: var(--bg2-text);
      padding: 0.8rem;
      &&:hover {
        background-color: hsl(19, 64%, 50%);
      }
      &&:focus-visible {
        background-color: hsl(19, 64%, 50%);
        outline: 0.2rem solid #ffffff;
      }
      &&:active {
        background-color: hsl(19, 64%, 30%);
      }
    }
  }
  && input {
    flex-grow: 1;
    resize: none;
    padding: 0.8rem 0.4rem;
    flex-grow: 1;
    color: var(--bg4-text);
    background-color: transparent;
    border: transparent;
    outline: none;
    &&:hover {
      background-color: #ffffff44;
    }
    &&:focus {
      background-color: #ffffff80;
    }
  }
}

@media (min-width: 720px) {
  #logSection ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}